<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PatientLoginServlet</servlet-name>
        <servlet-class>HealthcareSystem.PatientLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorLoginServlet</servlet-name>
        <servlet-class>HealthcareSystem.DoctorLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientDoctorSearchServlet</servlet-name>
        <servlet-class>HealthcareSystem.PatientDoctorSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientDoctorSearchResultServlet</servlet-name>
        <servlet-class>HealthcareSystem.PatientDoctorSearchResultServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientSearchServlet</servlet-name>
        <servlet-class>HealthcareSystem.PatientSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientDoctorProfileServlet</servlet-name>
        <servlet-class>HealthcareSystem.PatientDoctorProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientDoctorAddReviewResultServlet</servlet-name>
        <servlet-class>HealthcareSystem.PatientDoctorAddReviewResultServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>HealthcareSystem.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorProfileServlet</servlet-name>
        <servlet-class>HealthcareSystem.DoctorProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PatientLoginServlet</servlet-name>
        <url-pattern>/PatientLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorLoginServlet</servlet-name>
        <url-pattern>/DoctorLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientDoctorSearchServlet</servlet-name>
        <url-pattern>/PatientDoctorSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientDoctorSearchResultServlet</servlet-name>
        <url-pattern>/PatientDoctorSearchResultServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientSearchServlet</servlet-name>
        <url-pattern>/PatientSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientDoctorProfileServlet</servlet-name>
        <url-pattern>/PatientDoctorProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientDoctorAddReviewResultServlet</servlet-name>
        <url-pattern>/PatientDoctorAddReviewResultServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorProfileServlet</servlet-name>
        <url-pattern>/DoctorProfileServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <description>MySQL connection pool</description>
        <res-ref-name>jdbc/myDatasource</res-ref-name>
        <res-type>javax.sql.ConnectionPoolDataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
